Autodesk
akregatorrc
Beaker Browser
BeautifulDiscord
Code
EOS-greeter.conf
EOS-initial-wallpaper.KDE
EOS-initial-wallpaper.XFCE
EOS-xfce-theme.log
Electron
GIMP
JetBrains
Mousepad
MuseScore
Pd
QtProject.conf
QtProject
Raspberry Pi
Thunar
Trolltech.conf
akregatorrc
autostart
balena-etcher
baloofilerc
bluedevilglobalrc
cef_user_data
coc
colorls
configstore
cura
dconf
discord
discoverrc
drkonqirc
dunst
emaildefaults
epdfview
filezilla
font-manager
fontconfig
fontforge
galculator
globaltime
godot
gtk-2.0
gtk-3.0
gtk-4.0
inkscape
joplin
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kde.org
kded5rc
kdeglobals
kgammarc
kglobalshortcutsrc
khotkeysrc
kio_httprc
kmetainformationrc
kmixrc
krunnerrc
kscreenlockerrc
ksmserverrc
ksysguardrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
leafpad
libaccounts-glib
mimeapps.list
nitrogen
nvim/plugged/rust.vim
oomox
pavucontrol.ini
picom.conf.backup
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse
qt5ct
ristretto
rofi.old
rofi
rust-analyzer
scribus
sddmthemeinstallerrc
session
signond
spicetify/Extracted/Raw/login/images/social-buttons/
spotify/
sublime-text-3/Cache/Python 3/
sublime-text-3/Cache/Rust Enhanced/
sublime-text-3/Cache/TOML/
systemmonitorrc
systemsettingsrc
touchpadxlibinputrc
user-dirs.dirs
user-dirs.locale
vivaldi
vlc
welcome.conf
xfce4.20201120-18:08:06
xfce4
yarn
zoomus.conf
VSCodium/logs
VSCodium/CachedData
VSCodium/Cache
spicetify/Backup
spicetify/Extracted
sublime-text-3/Cache
unity3d

# Ignore logs and such-like
**/logs
*.log

LanguageTool/
VSCodium/Backups/
VSCodium/CachedExtensions/builtin
VSCodium/Code Cache/
VSCodium/Cookies
VSCodium/Cookies-journal
VSCodium/Crash Reports/
VSCodium/Dictionaries/
VSCodium/GPUCache/
VSCodium/Local Storage/
VSCodium/Network Persistent State
VSCodium/Session Storage/
VSCodium/TransportSecurity
VSCodium/User/globalStorage/
VSCodium/User/syncLocalSettings.json
VSCodium/User/workspaceStorage/
VSCodium/exthost Crash Reports/
VSCodium/languagepacks.json
VSCodium/machineid
VSCodium/rapid_render.json
VSCodium/storage.json
enchant/
gconf/
gtkrc-2.0
libreoffice/
sublime-text-3/Index/
sublime-text-3/Local/
systemd/
xsettingsd/
